body {
  text-align: center;
  background-color: #011F3F;
}

footer{
  text-align: center;
  color: #FEF2BF;
  font-size: 1.25rem;
  margin-top: 70px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25rem;
  color: #FEF2BF;
  margin: 70px 0;
  

}
#header-Div{
  grid-column: span 2;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 60vw;
  gap: 10px;
  margin-left:20% ;
  margin-bottom: 30px;

}
.btn {
  border: 10px solid black;
  border-radius: 50%;
  max-width: 200px;
  min-width: 150px;
  flex-grow: 1;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
